<%= form_tag do %>
	<%= text_field_tag "return_number", params[:return_number] %>
<%= submit_tag 'Submit' %>
	<%  end %> 

<div>	
	<%= @percent_return %>
	<%= @return_number %>
</div>

<%= form_tag do %>
	<%= text_field_tag "return_number", params[:return_number] %>
<%= submit_tag 'Submit' %>
	<%  end %> 

<div>	
	<%= @percent_return %>
	<%= @return_number %>
</div>